body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {

    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    text-align:center;
}

form {
    margin-bottom: 20px;

}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

textarea {
    height: 100px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h1, h2 {
    color: #333;
}

#chamadosContainer {
    margin-top: 30px;
    .chamadoCabecalho {
        color: black;
        font-weight: bold;
    }
    .status {
        padding: 20px;
    }
}

#chamadosList {
    list-style-type: inline;

}

.chamadoItem {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.chamadoItem.pendente {
    background-color: #ecf029; /* amarelo */
    
}

.chamadoItem.em_andamento {
    background-color: #fd9800; /* laranja */
}

.chamadoItem.cancelado {
    background-color: #ecf029; /* amarelo */
}

.chamadoItem.encerrado {
    background-color: #16eb1d; /* verde */
}
.chamadoItem.direcionado {
    background-color: #ecf029; /* aamrelo */
}

.chamadoItem button {
    margin-left: 10px;
}

.mensagem {
    margin-top: 10px;
    padding: 10px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
}
